@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

p {
    font-size: 8rem;
    background-color: white;
}

#timerMinutes {
    padding: 0.5rem;
}